


/* USE THIS PROPERTY TO CHANGE THE COLOR AND FONT SIZE OF EACH SPAN'S TEXT */
.taskSpan {
    font-size: 100%;
    padding-left: 3%;
}
/* @media only screen and (max-width: 992px) {
    .taskSpan {
        font-size: 90%;
    }
} */

/* USE THIS PROPERTY TO MODIFY THE SPACING BETWEEN EACH TASK */
.listItemContainer {
    margin: 2.5% 0%; 
    background-color: rgba(255, 255, 255 , 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    
}

.completedTask{
    border: 1px solid #006D16 ;
}

/* USE THESE PROPERTIES TO MODIFY THE GRAY MARGIN SURROUNDING EACH TASK */
.spanContainer {
    margin: 2.5% 0%;
}

.taskSpan {
    color: rgba(255, 255, 255 , 0.5)
}

.completedSpan {
    color: #006D16;
}



.list_ButtonContainer {
    margin: 2.5% 0%;
    display: flex; justify-content: space-around; align-items: center; 
}

.taskButton {
    background-color: transparent;
    border: none;
    color: white;
    user-select: none;
}

.taskButton:hover {
    background-color: white;
    color: #121212;
    border: white;
}

.taskButton:focus {
    outline: 0;
    box-shadow: none;
    background-color: transparent;
}

.completedButton {
    color: green;
}




